.chart {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.bars {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bar {
  flex: 1;
  background: red;
}

.labels {
  display: flex;
  flex-direction: row;
}
.label {
  flex: 1;
  padding: 3px;
  text-align: center;
}
